<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PuttyServerGUI2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <PuttyServerGUI2.Properties.Settings>
            <setting name="LocalRepository" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TeamRepositoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TeamSessionListPath" serializeAs="String">
                <value />
            </setting>
        </PuttyServerGUI2.Properties.Settings>
    </userSettings>
</configuration>
